$--color-primary-dark-cian: #008b61;
$--color-primary-cream: #ddd3c8;

$--color-secondary-dark-green: #005226;


$--color-neutral-dark-blue:  #1c232b;
$--color-neutral-dark-grayish: #6c7289;
$--color-neutral-white: #fff;

$--font-fraunces: 'Fraunces', serif;
